<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{{title}}}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bree+Serif&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5eb08b3082.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href={{css_file_ref}} type="text/css">

    <style>
        #navbar-collapse-id {
            margin-left: 25%;
            text-align: center;
            font-weight: 900;
        }
    </style>
</head>

<body>
    <div class="container-fluid" id="page-container">
        <div class="row mt-5">
            <div class="col-md-6 text-center mx-auto" id="header-desc">
                <h1 class="" id="site-title">
                    <a href="/">MY BLOG</a>
                </h1>
                <p id="site-description">Read Travel Blogs Here</p>
            </div>
        </div>

        <div id="content-wrap">
            <nav class="navbar navbar-expand-md navbar-light" id="navbar-id">

                <button class="navbar-toggler" id="navbar-toggler-button" type="button" data-toggle="collapse"
                    data-target="#navbar-collapse-id">
                    <span class="navbar-toggler-icon" id="toggle-button"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbar-collapse-id">
                    <ul class="navbar-nav" id="navbar-nav-ul">
                        <li class="nav-item" id="list-icons-2">
                            <a class="nav-link link-item" href="/about" id="Icons-3"><i class="material-icons">
                                </i><span>ABOUT THE BLOGGER</span>
                            </a>
                        </li>
                        <li class="nav-item" id="list-icons-3">
                            <a class="nav-link link-item" href="/destinations" id="Icons-4"><i class="material-icons"
                                    id="Icons2">
                                </i><span>DESTINATIONS</span>
                            </a>
                        </li>
                        <li class="nav-item" id="list-icons-3">
                            <a class="nav-link link-item" href="/foods" id="Icons-4">
                                <i class="material-icons" id="Icons2"></i>
                                <span>FOODS</span>
                            </a>
                        </li>
                        <li class="nav-item" id="list-icons-3">
                            <a class="nav-link link-item" href="/hotels" id="Icons-4"><i class="material-icons"
                                    id="Icons2">
                                </i><span>HOTELS</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>

    {{{body}}}


    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
        <div class="container text-center">
            <small>Copyright &copy; Your Website</small>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src={{script}}></script>
</body>

</html>