<div class="container-fluid">
    <div class="row" id="dest-row-01">
        <div class="col-md-2 mx-auto" id="destination-id-01">
            <div class="mx-auto">
                <a href="#">
                    <div class=" text-center">
                        <h1>Switzerland</h1>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2 mx-auto" id="destination-id-02">
            <div class="mx-auto">
                <a href="#">
                    <div class=" text-center">
                        <h1>Berlin <br> Germany</h1>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2 mx-auto" id="destination-id-03">
            <div class="mx-auto">
                <a href="#">
                    <div class=" text-center">
                        <h1>San Francisco ,<br> USA</h1>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2 mx-auto" id="destination-id-04">
            <div class="mx-auto">
                <a href="#">
                    <div class=" text-center">
                        <h1>Silicon Valley,<br> California</h1>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-md-2 mx-auto" id="destination-id-05">
            <div class="mx-auto">
                <a href="#">
                    <div class=" text-center">
                        <h1>Japan</h1>
                    </div>
                </a>
            </div>
        </div>
    </div><br><br>


    {{!-- <div class="row" id="dest-row-02">
        <div class="col-md-3">
            <div class="imageclass">
                <a href="#">
                    <img src="/images/homeImage.jpeg" alt="image">
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="imageclass">
                <a href="#">
                    <img src="/images/homeImage.jpeg" alt="image">
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="imageclass">
                <a href="#">
                    <img src="/images/homeImage.jpeg" alt="image">
                </a>
            </div>
        </div>
    </div> --}}
    <div class="mx-auto" id="dest-row-02">
        <div class="row ml-4">
            {{!-- <h1>What are you looking for ?</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book.</p> --}}
        </div>
        <div class="row mx-auto">
            <div class="col-md-4 mx-auto">
                <div class="mx-2" id="row-dest-02-img-01">
                    <a href="#">
                        <div class="ml-4">
                            <img src="/images/homeImage.jpeg" alt="image">
                            <h4>Some heading</h4>
                        </div>
                        <!--  -->
                    </a>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                        has been the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley of type and
                        scrambled it to make a type specimen book.</p>
                </div>
            </div> <br><br>
            <div class="col-md-4 mx-auto">
                <div class="mx-2" id="row-dest-02-img-02">
                    <a href="#">
                        <div class="ml-4">
                            <img src="/images/homeImage.jpeg" alt="image">
                            <h4>Some heading</h4>
                        </div>
                    </a>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                        has been the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley of type and
                        scrambled it to make a type specimen book.</p>
                </div>
            </div>
            
            <div class="col-md-4 mx-auto">
                <div class="mx-2" id="row-dest-02-img-03">
                    <a href="#">
                        <div class="ml-4">
                            <img src="/images/homeImage.jpeg" alt="image">
                            <h4>Some heading</h4>
                        </div>
                    </a>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                        has been the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley of type and
                        scrambled it to make a type specimen book.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/css/destination.css">