<div class="container ">
    <div class="row">
        <div class="col-md-2 mx-auto">
            <div class="imageclass">
                <a href="#">
                    <img src="/images/homeImage.jpeg" alt="image">
                </a>
            </div>
        </div>
        <div class="col-md-2 mx-auto">
            <div class="imageclass">
                <a href="#">
                    <img src="/images/homeImage.jpeg" alt="image">
                </a>
            </div>
        </div>
        <div class="col-md-2 mx-auto">
            <div class="imageclass">
                <a href="#">
                    <img src="/images/homeImage.jpeg" alt="image">
                </a>
            </div>
        </div>
        <div class="col-md-2 mx-auto">
            <div class="imageclass">
                <a href="#">
                    <img src="/images/homeImage.jpeg" alt="image">
                </a>
            </div>
        </div>
        <div class="col-md-2 mx-auto">
            <div class="imageclass">
                <a href="#">
                    <img src="/images/homeImage.jpeg" alt="image">
                </a>
            </div>
        </div>
    </div><br><br>

    
    <div class="row">
        <div class="col-md-3">
            <div class="imageclass">
                <a href="#">
                    <img src="/images/homeImage.jpeg" alt="image">
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="imageclass">
                <a href="#">
                    <img src="/images/homeImage.jpeg" alt="image">
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="imageclass">
                <a href="#">
                    <img src="/images/homeImage.jpeg" alt="image">
                </a>
            </div>
        </div>
    </div>
</div>