<div class="container ">
    <div class="row m-2">
        <div class="col-md-8 mx-auto">
            <div class="imageHome ">
                <a href="#">
                    <img id="mainImage1" src="/images/homeImage.jpeg" alt="image">
                </a>
            </div>
        </div>
    </div><br><br>
    
    <div class="row m-2">
        <h1>What are you looking for ?</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book.</p>
    </div>

    <div class="row m-2">
        <div class="col-md-5">
            <div class="imagejumbo">
                <a href="#">
                    <img src="/images/homeImage.jpeg" alt="image">
                </a>
            </div>
        </div>
        <div class="col-md-5">
            <div class="imagejumbo">
                <a href="#">
                    <img src="/images/homeImage.jpeg" alt="image">
                </a>
            </div>
        </div>
    </div>
    <br>
    <div class="row m-2">
        <div class="col-md-5">
            <div class="imagejumbo">
                <a href="#">
                    <img src="/images/homeImage.jpeg" alt="image">
                </a>
            </div>
        </div>

        <div class="col-md-5">
            <div class="imagejumbo">
                <a href="#">
                    <img src="/images/homeImage.jpeg" alt="image">
                </a>
            </div>
        </div>
    </div><br><br>

    <div class="row">
        <h1>What are you looking for ?</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
            industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
            scrambled it to make a type specimen book.</p>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="imagejumbo2">
                <a href="#">
                    <img src="/images/homeImage.jpeg" alt="image">
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="imagejumbo2">
                <img src="/images/homeImage.jpeg" alt="image">
            </div>
        </div>
        <div class="col-md-3">
            <div class="imagejumbo2">
                <img src="/images/homeImage.jpeg" alt="image">
            </div>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/css/home.css">