<div class="container-fluid" id="home-container">
    <div class="row m-2" id="row-home-01">
        <div class="mx-auto" id="div-image-01">
            <div class="mx-auto" id="imageHome-01">
                <h1 id="h1-home"> READ <br>TRAVELS BLOG HERE</h1>
            </div>
        </div>
    </div><br><br>

    <div class="p-1" id="id-home-row-02">
        <div class="para-heading-01">
            <h1>What are you looking for ?</h1><br>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book.</p>
        </div>
        <div class="row m-2">
            <div class="col-md-5">
                <div class="image-row-02-01">
                    <a href="#">
                        <div>
                            <h1>DESTINATION</h1>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-5">
                <div class="image-row-02-01">
                    <a href="#">
                        <div>
                            <h1>TOURIST PLACES</h1>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="row m-2">
            <div class="col-md-5">
                <div class="image-row-02-02">
                    <a href="#">
                        <div>
                            <h1>FOODS</h1>
                        </div>
                    </a>
                </div>
            </div>

            <div class="col-md-5">
                <div class="image-row-02-02">
                    <a href="#">
                        <div>
                            <h1>RESORTS</h1>
                        </div>
                    </a>
                </div>
            </div>
            <br><br>
        </div>
    </div>
    <br>

    <div class="mx-auto" id="row-03">
        <div class="row ml-4">
            <h1>What are you looking for ?</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                scrambled it to make a type specimen book.</p>
        </div>
        <div class="row mx-auto">
            <div class="col-md-4 mx-auto">
                <div class="mx-2" id="row-home-03-img-01">
                    <a href="#">
                        <div class="ml-4">
                            <img src="/images/homeImage.jpeg" alt="image">
                            <h4>Some heading</h4>
                        </div>
                        <!--  -->
                    </a>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                        has been the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley of type and
                        scrambled it to make a type specimen book.</p>
                </div>
            </div> <br><br>
            <div class="col-md-4 mx-auto">
                <div class="mx-2" id="row-home-03-img-02">
                    <a href="#">
                        <div class="ml-4">
                            <img src="/images/homeImage.jpeg" alt="image">
                            <h4>Some heading</h4>
                        </div>
                    </a>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                        has been the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley of type and
                        scrambled it to make a type specimen book.</p>
                </div>
            </div>
            <div class="col-md-4 mx-auto">
                <div class="mx-2" id="row-home-03-img-03">
                    <a href="#">
                        <div class="ml-4">
                            <img src="/images/homeImage.jpeg" alt="image">
                            <h4>Some heading</h4>
                        </div>
                    </a>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                        has been the
                        industry's standard dummy text ever since the 1500s, when an unknown printer took a
                        galley of type and
                        scrambled it to make a type specimen book.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="row-home-04">
        <div id="row-03-heading">
            <h1>What are you looking for?</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                has been the
                industry's standard dummy text ever since the 1500s, when an unknown printer took a
                galley of type and
                scrambled it to make a type specimen book.</p>
        </div>
        <div class="col-md-6">
            <div class="mx-auto text-center">
                <a href="#">
                    <img src="/images/homeImage.jpeg" alt="">
                    <div id="row-03-heading">
                        <h1>What are you looking for?</h1>
                    </div>
                </a>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
                    has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a
                    galley of type and
                    scrambled it to make a type specimen book.</p>
            </div>
        </div>
        <div class="col-md-6">
            <ul>
                <li>
                    <a href="#">
                        <div class="mx-auto text-center">
                            <a href="#">
                                <img src="/images/homeImage.jpeg" alt="" width="100px" height="100px">
                                <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry.</span>
                            </a>
                        </div>
                    </a>
                </li><br>
                <li>
                    <a href="#">
                        <div class="mx-auto text-center">
                            <a href="#">
                                <img src="/images/homeImage.jpeg" alt="" width="100px" height="100px">
                                <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry.</span>
                            </a>
                        </div>
                    </a>
                </li> <br>
                <li>
                    <a href="#">
                        <div class="mx-auto text-center">
                            <a href="#">
                                <img src="/images/homeImage.jpeg" alt="" width="100px" height="100px">
                                <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                    Ipsum has been the industry.</span>
                            </a>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>

<link rel="stylesheet" href="/css/home.css">