<div class="container ">
    <div class="row">
        <div class="col-md-8">
            <div class="imagefood1">
                <a href="">
                    <img src="/images/resort1.jpg" alt="image">
                </a>
                <a href="#">
                    <h2>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</h2>
                </a>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.</p>
            </div>
        </div>
        <div class="col-md-3">
            <div class="sometag text-center ml-4">
                <h1>some content</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.</p>
            </div>
        </div>
    </div> <br><br>
    <div class="row">
        <div class="col-md-4">
            <div class="imageresort">
                <a href="#">
                    <img src="/images/food1.jpg" alt="" width="400px" height="400px">
                </a>
                <h5>Some Tag</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.</p>
            </div>
        </div>

        <div class="col-md-4">
            <div class="imageresort">
                <a href="#">
                    <img src="/images/dest1.jpg" alt="" width="400px" height="400px">
                </a>
                <h5>Some Tag</h5>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book.</p>
            </div>
        </div>
    </div>
</div>