#destination-id-01{
    background-color: rgb(168, 125, 125);
}
#destination-id-02{
    background-color: darkgray;
}
#destination-id-03{
    background-color: rgb(92, 58, 58);
}
#destination-id-04{
    background-color: rgb(100, 91, 91);
}
#destination-id-05{
    background-color: darkgray;
}